google-cloud-storage==2.10.0
google-cloud-compute==1.14.1
google-cloud-iam==2.12.1
google-cloud-logging==3.6.0
google-cloud-monitoring==2.15.1
google-cloud-monitoring-dashboards==1.8.0
google-cloud-resource-manager==1.10.3
google-cloud-kms==2.19.1
google-cloud-asset==3.20.0
google-cloud-securitycenter==1.24.0
google-cloud-pubsub==2.18.0
google-cloud-container==2.26.0
google-cloud-secret-manager==2.16.0
google-auth==2.22.0
google-api-python-client==2.95.0
google-cloud-policy-troubleshooter==1.9.0
google-cloud-access-context-manager==0.1.16
google-cloud-binary-authorization==1.7.0
google-cloud-essential-contacts==1.5.0
google-cloud-os-config==1.15.0
google-cloud-network-services==0.5.0